<sig-widget-base>
    <!-- toolbar title -->
    <div header-title>
        <!-- Talhao/Menu -->
        <sig-menu-talhoes
            *ngIf="renderTalhoes && renderChart"
            [default]="widget.talhao"
            [talhoes]="talhoes"
            (talhaoChange)="onTalhaoChange($event)">
        </sig-menu-talhoes>
      </div>

    <!-- toolbar actions - menu -->
    <div header-actions>
        <button
            matTooltip="Remover dos favoritos"
            mat-icon-button
            class="header-action-button"
            (click)="removeWidget(widget)">
            <mat-icon>clear</mat-icon>
        </button>

        <!-- espaco para icon de configuracao do widget -->
        <div
            class="header-action-button-config-container"
            matTooltip="Configurações"
            [matMenuTriggerFor]="config_menu">
            <mat-icon class="header-action-button-config">more_vert</mat-icon>

            <!-- menu de configuracao -->
            <mat-menu #config_menu="matMenu">
                <!-- lista de variaveis -->
                <button
                    mat-menu-item
                    (click)="$event.stopPropagation();"
                    *ngFor="let variavel of variaveisDataset">
                    <mat-checkbox
                        id="{{ variavel.apelido }}"
                        [checked]="config.variavel.apelido == variavel.apelido"
                        (change)="onVariavelChange($event)">
                        {{ variavel.nome }}
                    </mat-checkbox>
                </button>
            </mat-menu>
        </div>
      </div>

    <!-- widget content -->
    <div content>
        <!-- dados de previsao -->
        <sig-dados-previsao
            *ngIf="renderChart"
            [isWidget]="true"
            [talhao]="widget.talhao"
            [variavel]="widget.options.variavel"
            [variaveis]="variaveisDataset"
            [datasets]="loadedDatasets"
            [periodo]="widget.options.periodo"
            (configChange)="onConfigChange($event)">
        </sig-dados-previsao>
    </div>
</sig-widget-base>
