.header-action-button {
  position: relative;
}

.header-action-button-config-container {
  position: relative;
  background: #dddddd;
  border-left: 1px solid #cccccc;
  width: 30px;
  height: 32px;
  line-height: 32px;
  float: right;
  top: 4px;
}

.header-action-button-config-container:hover {
  background: #cccccc;
  cursor: pointer;
}

.header-action-button-config {
  position: relative;
  left: 3px;
  top: 4px;
}
